@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600&display=swap');

:root {
  font-size: 16px;
  --charcoal-grey: #343d42;
  --dark-sky-blue: #5b9de3;
  --dark-sky-blue-8: rgba(91, 157, 227, 0.08);
  
  --font-family: 'Titillium Web', Titillium , sans-serif;
}
  
body {
  margin: 0;
  padding: 0;
}

/* BACK ARROW */
#backArrow {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* CARD */

.card-course-detail-a {
  color: var(--charcoal-grey);
}
.card-course-detail-a:hover {
  color: var(--charcoal-grey);
}

/* TABLE */

.list-group-item { 
  border: 0 !important; /* remove borders on tab items */
  border: var(--dark-sky-blue);
  color: var(--charcoal-grey);
  font-weight: bolder;
}

.list-group-item.active {
  background-color: inherit !important;
  color: var(--dark-sky-blue) !important;

  border-bottom: solid !important;
}

/* Table content: */

.tabbed-content-container {
  background-color: var(--dark-sky-blue-8);
  /* padding: 40px !important; */
}

/* CURRICULUM */
#bachelorIcon {
  background-color: var(--dark-sky-blue);
  border-radius: 7px;
  padding: 14px;
}

/* BUTTONS */
button {
  padding: 10px 70px 10px 70px;
  border: #5b9de3;
  color: var(--dark-sky-blue);
  border-style: solid;
  border-width: 2px;
  border-radius: 30px !important;
  white-space: nowrap; /* Stops text from wrapping */
  background-color: inherit;
}

button:hover {
  background-color: #5b9de3;
  color: var(--charcoal-grey);
}

/* FONTS */

body {
  font-family: var(--font-family) !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.tab-content {
  line-height: 2.19;
}

.tab-content-title {
  font-size: 22px;
  font-weight: bold;
}
