@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600&display=swap');

:root {
  font-size: 16px;
  --charcoal-grey: #343d42;
  --dark-sky-blue: #5b9de3;
  --font-family: 'Titillium Web Semi-bold', Titillium , sans-serif;
}
  
body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web Semi-bold', Titillium , sans-serif !important;
}

/* TABLE */

.list-group-item { 
  border: 0 !important; /* remove borders on tab items */
  border: var(--dark-sky-blue);
}

.list-group-item.active {
  background-color: inherit !important;
  color: var(--dark-sky-blue) !important;

  border-bottom: solid !important;
}

/* FONTS */

