/* @font-face {
    font-family: Titillium;
    src: local(Titillium-Regular),
      url(/path/to/Titillium-Regular.woff2) format("woff2"),
      url(/path/to/Titillium-Regular.woff) format("woff"),
      url(/path/to/Titillium-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }
  @font-face {
    font-family: Titillium;
    src: local(Titillium-Semibold),
      url(/path/to/Titillium-Semibold.woff2) format("woff2"),
      url(/path/to/Titillium-Semibold.woff) format("woff"),
      url(/path/to/Titillium-Semibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
  } */

  @import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600&display=swap');

  :root {
    --charcoal-grey: #343d42;
    --dark-sky-blue-two: #4a90e2;
    --dodger-blue: #3398f2;
  }

  body {
    font-family: 'Titillium Web', Titillium , sans-serif !important;
  }

  .text-blue-sky {
    color: var(--dark-sky-blue-two);
  }
  .text-blue-dodger {
    color: var(--dodger-blue);
  }
  .text-grey {
    color: var(--charcoal-grey);
  }

  .nav-link {
    font-family: 'Titillium Web', Titillium , sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: white;
    margin-right: 2rem;
    position: relative;
    text-transform: uppercase;
  }
  .nav-link:hover {
    color: white;
  }

  .title-bottom-nav {
    font-family: 'Titillium Web', Titillium , sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 4rem;
    letter-spacing: normal;
    color: #459de9;
    /* padding: 2rem; */
  }

  .title-bottom-nav:hover {
    text-decoration: none;
  }

  .bottom-nav {
    font-family: 'Titillium Web', Titillium , sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 50%; */
    letter-spacing: normal;
    color: white;
    padding-top: .8rem;
  }

  /* CART FONTS */
  .cart-font {
    font-family: 'Titillium Web', Titillium , sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .cart-title-font {
    font-size: 50px;
  }

  .cart-course-text {
    font-size: 15px;
    line-height: 1.67;
    color: var(--dark-sky-blue-two);
  }

  #findOutMoreBtn{
    font-family: 'Titillium Web', Titillium , sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

  h2 {
    font-family: 'Titillium Web', Titillium , sans-serifs;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #030303;
  }
  .B3 {
    font-family: 'Titillium Web', Titillium , sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: #ffffff;
  }
  .Lead-centre {
    font-family: 'Titillium Web', Titillium , sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #030303;
  }
  .button-style {
    font-family: 'Titillium Web', Titillium , sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #030303;
  }

  .Body-sml {
    font-family: 'Titillium Web', Titillium , sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: rgba(3, 3, 3, 0.5);
  }

  #subHeadingText {
    width: 882px;
    height: 78px;
    font-family: 'Titillium Web', Titillium , sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    /* color: var(--charcoal-grey); */
    color: rgb(56, 54, 54);
  }

.courses-title {
  font-family: 'Titillium Web', Titillium , sans-serif;
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgb(56, 54, 54);
}

.why-maven-academy {
  font-family: 'Titillium Web', Titillium , sans-serif;
  font-size: 50px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--charcoal-grey);
}

.immersive-training-p {
  font-family: 'Titillium Web', Titillium , sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #4f5559;
}

.career-services-title {
  font-family: 'Titillium Web', Titillium , sans-serif;
  font-size: 50px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--charcoal-grey);
}

.career-services-p {
  font-family: 'Titillium Web', Titillium , sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #707277;
}

.career-find-out-more-btn {
  font-family: 'Titillium Web', Titillium , sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #5b9de3;
}

/* What students think: */
#studentsThinkHeading {
  font-family: 'Titillium Web', Titillium , sans-serif;
  font-size: 50px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.name-link {
  font-family: 'Titillium Web', Titillium , sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #5b9de3;
}

#rightsReserved {
  font-family: 'Titillium Web', Titillium , sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

/* Thanks section: */
.thanks-consultants {
  font-family: 'Titillium Web', Titillium , sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: var(--charcoal-grey);
}

.thanks-conact-faq {
  font-family: 'Titillium Web', Titillium , sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.15;
  letter-spacing: normal;
  color: var(--charcoal-grey);
}