:root {
  font-size: 16px;
  --charcoal-grey: #343d42;
  --dark-sky-blue: #5b9de3;
}

body {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* NAV BAR */
#badge {
  border-radius: 50%;
  font-size: x-small;
  position: absolute;
}

#cartDiv {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

/* Dropdown menu for cart icon: */
.dropdown-menu {
  margin-top: 14px !important;
}

.dropdown-item:hover {
  background-color: inherit !important;
}

.dropdown-item:active {
  color: inherit !important;
  background-color: inherit !important;
}

.remove-from-cart-btn {
  opacity: 0.2;
}

.remove-from-cart-btn:hover {
  opacity: 0.8;
}

/* All buttons: */
button {
  padding: 10px 70px 10px 70px;
  border: #5b9de3;
  color: var(--dark-sky-blue);
  border-style: solid;
  border-width: 2px;
  border-radius: 30px !important;
  white-space: nowrap; /* Stops text from wrapping */
  background-color: inherit;
}

button:hover {
  background-color: #5b9de3;
  color: var(--charcoal-grey);
}

/* Top Area: */
#top {
  background-color: rgba(91, 157, 227, 0.08);
  padding-bottom: 40px;
}

#topImg {
  width: 514px;
  height: 364px;
}

/* Heading text (effects in js): */
.typewrite {
  height: 100px;
}

#findOutMoreBtn {
  background-color: #5b9de3;
}
#findOutMoreBtn:hover {
  background-color: inherit;
  color: var(--charcoal-grey);
}

/* Middle Area  */
/* Left middle area - Why Maven*/
#midWhyMavenSection {
  /* margin-top: 40px;
  margin-bottom: 40px; */
}

#whyMaven {
  
}

.why-maven-content {
  /* max-width: 514px; */
}

#readMoreBtn {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center; 

  padding-left: 40px;
  padding-right: 40px;
}

/* Right Middle Area - Reasons Maven */

.aside-divs {
  height: auto;
}

.aside-reason-imgs {
  width: 75px;
  height: 75px;
  background-color: #5b9de3;
  border-radius: .5rem;
  padding: 12px;
}

.reason-aside-heading-text {
  line-height: 24px;
  font-size: 22px;
}

.reason-aside-body-text {
  line-height: 18px;
  font-size: 16px;
  /* white-space: nowrap; */
}

#reasonsMaven {
  padding: 50px 60px 50px 40px;
}


/* Our Courses section */
#ourCoursesSection {
  background-color: rgba(91, 157, 227, 0.08);
}

#ourCoursesContainer {
  padding: 40px 30px 20px 30px;
}

.card {
  /* width: 372px; */
  min-width: 100px;
}

.course-buttons {
  padding-left: 10%;
  padding-right: 10%;
}

/* Career services section */
#careerServicesSection {
  margin-top: 40px;
  margin-bottom: 20px;
}

#zondoLogo {
  height: 30px;
}

.career-find-out-more-btn {
  color: #36414c;
  background-color: white;
  border-color: #5b9de3;
  border-radius: 2rem;
  padding: 0.6rem 1.5rem 0.6rem 1.5rem;
  box-shadow: 0;
}

.career-find-out-more-btn:hover {
  color: white;
  background-color: #5b9de3;
  border-color: white;
}

/* What students think section: */
#studentsThinkSection {
  background-color: #36414c;
  color: white;
  padding: 40px 30px 40px 30px;
}

#studentThinkImg {
  width: 756px;
  /* max-width: 500px; */
}

.name-link {
  margin-left: -13px;
}

/* Thanks for enquiry section: */
#thanksImg {
  width: 400px;
}

.faq-a {
  text-decoration-line: underline;
  font-weight: normal;
  color: #60a0e3;
}
.faq-a:hover {
  text-decoration: none;
  color: #60a0e3;
}

.thanks-contact-faq-num {
  color: #60a0e3;
}

/* Footer: */
#footer {
  /* height: 20rem; */
  background-color: #36414c;
  padding-bottom: 50px;
}

.footer-nav-general {
  margin-top: 30px;
  /* width: 0; */
  /* margin: 1rem 12.5% 2rem 12.5%; */
  /* padding: 2rem; */
  /* float: left; */
}

.title-bottom-nav {
  /* margin: 4rem; */
}

/* Bottom most footer: */
#bottomBlackFooter{
  background-color: #1F262D;
  padding: 40px;
}

#rightsReserved {
  margin: 0;
}

/* All images to be removed: */
@media all and (max-width: 540px) {
  #studentThinkImg {
    display: none;
  }

  #topImg {
    display: none;
  }

  .aside-reason-imgs {
    display: none;
  }

  #thanksImg {
    display: none;
  }
}