:root {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

#top {
  background-color: rgba(91, 157, 227, 0.08);
  padding-bottom: 40px;
}

#topImg {
  width: 514px;
  height: 364px;
}

#mid {
  margin-top: 40px;
  margin-bottom: 40px;
}

.why-maven-content {
  max-width: 514px;
}

#whyMaven {
  /* margin-left: 10%; */
  /* max-width: 745px !important;
  max-height: 517px; */
}

#reasonsMaven {
  /* max-width: 745px !important;
  max-height: 517px; */
}

footer {
  height: 20rem;
  background-color: #36414c;
}

.footer-nav-general {

  /* width: 0; */
  margin: 1rem 12.5% 2rem 12.5%;
  /* padding: 2rem; */
  float: left;
}